.container-project{
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 10%;
    white-space: pre-wrap;
}


.card-project{
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 300x;
    margin: 2%;
}
